In [6]:
import axius
import pandas as pd

In [7]:
axius.scrap_axius()

Initialized a fresh new_properties file at axius\new_properties.pkl.
Skipping download: axius\page_1.html already exists.
Total Properties: 146
----------------------------------------------------------------------------------------------------
Scraping page 1/13...
Skipping download: axius\page_1.html already exists.
Number of items: 12
----------------------------------------------------------------------------------------------------
Scraping page 2/13...
Skipping download: axius\page_2.html already exists.
Number of items: 24
----------------------------------------------------------------------------------------------------
Scraping page 3/13...
Skipping download: axius\page_3.html already exists.
Number of items: 36
----------------------------------------------------------------------------------------------------
Scraping page 4/13...
Skipping download: axius\page_4.html already exists.
Number of items: 48
----------------------------------------------------------------------------------------------------
Scraping page 5/13...
Skipping download: axius\page_5.html already exists.
Number of items: 60
----------------------------------------------------------------------------------------------------
Scraping page 6/13...
Skipping download: axius\page_6.html already exists.
Number of items: 72
----------------------------------------------------------------------------------------------------
Scraping page 7/13...
Skipping download: axius\page_7.html already exists.
Number of items: 84
----------------------------------------------------------------------------------------------------
Scraping page 8/13...
Skipping download: axius\page_8.html already exists.
Number of items: 96
----------------------------------------------------------------------------------------------------
Scraping page 9/13...
Skipping download: axius\page_9.html already exists.
Number of items: 108
----------------------------------------------------------------------------------------------------
Scraping page 10/13...
Skipping download: axius\page_10.html already exists.
Number of items: 120
----------------------------------------------------------------------------------------------------
Scraping page 11/13...
Skipping download: axius\page_11.html already exists.
Number of items: 132
----------------------------------------------------------------------------------------------------
Scraping page 12/13...
Skipping download: axius\page_12.html already exists.
Number of items: 144
----------------------------------------------------------------------------------------------------
Scraping page 13/13...
Skipping download: axius\page_13.html already exists.
Number of items: 146

In [8]:
# Load environment variables from .env file for local testing
from dotenv import load_dotenv
import os
load_dotenv()

df = pd.read_pickle(os.environ['NEW_PROPERTIES_PATH'])

In [9]:
df

                ref   price                                                url
0             08235   8.500  https://arxus.es/ficha-inmueble/?cod_inmueble=...
1             08234   6.500  https://arxus.es/ficha-inmueble/?cod_inmueble=...
2             08211  40.000  https://arxus.es/ficha-inmueble/?cod_inmueble=...
3             08200  15.000  https://arxus.es/ficha-inmueble/?cod_inmueble=...
4    08198_homologo  33.500  https://arxus.es/ficha-inmueble/?cod_inmueble=...
..              ...     ...                                                ...
141         IQ02336  35.000  https://arxus.es/ficha-inmueble/?cod_inmueble=...
142          106212  10.500  https://arxus.es/ficha-inmueble/?cod_inmueble=...
143           94035   2.500  https://arxus.es/ficha-inmueble/?cod_inmueble=...
144           80481  11.500  https://arxus.es/ficha-inmueble/?cod_inmueble=...
145             753  49.000  https://arxus.es/ficha-inmueble/?cod_inmueble=...

[146 rows x 3 columns]

In [10]:
df.empty

False