In [1]:
import axius
import pandas as pd
import time_lapse
import os

In [2]:
pd.read_pickle('axius/properties.pkl')

                ref   price                                                url
0             08235   8.500  https://arxus.es/ficha-inmueble/?cod_inmueble=...
1             08234   6.500  https://arxus.es/ficha-inmueble/?cod_inmueble=...
2             08211  40.000  https://arxus.es/ficha-inmueble/?cod_inmueble=...
3             08200  15.000  https://arxus.es/ficha-inmueble/?cod_inmueble=...
4    08198_homologo  33.500  https://arxus.es/ficha-inmueble/?cod_inmueble=...
..              ...     ...                                                ...
115         IQ02770  45.000  https://arxus.es/ficha-inmueble/?cod_inmueble=...
116   EXP.497_PBVTA  32.000  https://arxus.es/ficha-inmueble/?cod_inmueble=...
117          540328  23.000  https://arxus.es/ficha-inmueble/?cod_inmueble=...
118   EXP.496_PBVTA  18.000  https://arxus.es/ficha-inmueble/?cod_inmueble=...
119   EXP.495_PBVTA  45.000  https://arxus.es/ficha-inmueble/?cod_inmueble=...

[120 rows x 3 columns]

In [6]:
# Load environment variables from .env file for local testing
from dotenv import load_dotenv
load_dotenv(override=True)

True

In [7]:
os.environ['EMAIL_RECEIVER']

'davidrubiolab@gmail.com, marticarles26@gmail.com, jm.coll.gonzalez@gmail.com'

In [ ]:


df = pd.read_pickle(os.environ['NEW_PROPERTIES_PATH'])

In [ ]:
df

In [ ]:
df.empty